In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [ ]:
df=pd.read_csv('Ridership and Features.csv')
df.head()

,Unnamed: 0,BCT_Code,MonthS,DOWS,Ridership,Borough,Total population,Unemployment_Rate,Per_Capita_Income,18-64_Poverty
0,0,1000201,1,0,228,Manhattan,2012.0,5.1%,"13,405",29.1%
1,1,1000201,1,1,195,Manhattan,2012.0,5.1%,"13,405",29.1%
2,2,1000201,1,2,230,Manhattan,2012.0,5.1%,"13,405",29.1%
3,3,1000201,1,3,229,Manhattan,2012.0,5.1%,"13,405",29.1%
4,4,1000201,1,4,191,Manhattan,2012.0,5.1%,"13,405",29.1%

In [ ]:
df.shape

(59277, 10)

In [ ]:
df['Unemployment_Rate'] = df['Unemployment_Rate'].str.replace('%','')
df['18-64_Poverty'] = df['18-64_Poverty'].str.replace('%','')
df['Per_Capita_Income'] = df['Per_Capita_Income'].str.replace(',','')
df['Unemployment_Rate'] = pd.to_numeric(df['Unemployment_Rate'], errors='coerce')
df['18-64_Poverty'] = pd.to_numeric(df['18-64_Poverty'], errors='coerce')
df['Per_Capita_Income'] = pd.to_numeric(df['Per_Capita_Income'], errors='coerce')

In [ ]:
df=df.dropna()

In [ ]:
df.columns

Index(['Unnamed: 0', 'BCT_Code', 'MonthS', 'DOWS', 'Ridership', 'Borough',
       'Total population', 'Unemployment_Rate', 'Per_Capita_Income',
       '18-64_Poverty'],
      dtype='object')

In [ ]:
col = df.columns.tolist()
col = [col[1]] + [col[5]] + [col[4]] + col[2:4] + col[6:]
df=df[col]
df.head(3)

,BCT_Code,Borough,Ridership,MonthS,DOWS,Total population,Unemployment_Rate,Per_Capita_Income,18-64_Poverty
0,1000201,Manhattan,228,1,0,2012.0,5.1,13405.0,29.1
1,1000201,Manhattan,195,1,1,2012.0,5.1,13405.0,29.1
2,1000201,Manhattan,230,1,2,2012.0,5.1,13405.0,29.1

In [ ]:
X = df.iloc[:,3:].values
y = df.iloc[:,2].values

sc_X = StandardScaler()
X = sc_X.fit_transform(X)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)
X_train1, X_val, y_train1, y_val = train_test_split(X, y, test_size=0.25, random_state=123)

In [ ]:
sr = svm.SVR(kernel = 'linear', C=1)
sr.fit(X_train, y_train)

In [ ]:
y_pred = sr.predict(X_test)
y_pred1 = sr.predict(X_train)
#y_pred = sc_y.inverse_transform(y_pred)
#y_pred1 = sc_y.inverse_transform(y_pred1)
print(r2_score(y_test, y_pred))
print(r2_score(y_train, y_pred1))

In [ ]:
param_grid ={'kernel':["poly"],
            'C':10**np.linspace(-5,10,20),
            'coef0':10**np.linspace(-3,3,20),
            'degree':range(1,7),
            'max_iter':[100]}

rr=svm.SVC()
gr=GridSearchCV(rr,param_grid=param_grid)
rs=gr.fit(X_train,Y_train)
print(rs.best_params_)
print(1.0*(rs.predict(X_test)==np.asarray(Y_test)).sum()/len(Y_test))